<div class="asociate-section-one asociate-section">
    <div class="section-one-content container">
        <div class="row content-contact">
            <div class="col-6">
                <strong>Compartir</strong>
                <h3>Cononoce nuestros beneficios</h3>
            </div>
            <div class="col-6">
                <div class="content-form-contact">
                    <h3 class="pb-3">Datos de contactos</h3>
                    <form>
                        <div class="mb-3">
                            <label for="inputNames" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="inputNames" aria-describedby="names">
                        </div>
                        <div class="mb-3">
                            <label for="inputSurnames" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="inputSurnames" aria-describedby="surnames">
                        </div>
                        <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                        <label for="inputPhone" class="form-label">Numero telefonico</label>
                        <input type="number" class="form-control" id="inputPhone">
                        </div>
                        <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="inputPersonalDataCheck">
                        <label class="form-check-label" for="inputPersonalDataCheck">Acepto los terminos de tratamiento de datos personales.</label>
                        </div>
                        <button type="submit" class="btn main-btn-primary w-100 my-3">Enviar datos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="asociate-section-two asociate-section">
    <div class="section-two-content container">
        <div class="row">
            <div class="col">
                <strong>Beneficio 1</strong>
            </div>
            <div class="col">
                <strong>Beneficio 1</strong>
            </div>
            <div class="col">
                <strong>Beneficio 1</strong>
            </div>
        </div>    
    </div>
</div>
