<footer class="footer">
    <div class="footer-section-one py-5">
        <div class="container content-section-one">
            <div class="row">
                <div class="col">
                    <strong>Temas de interes</strong>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                      </ul>
                </div>
                <div class="col">
                    <strong>Legales</strong>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                      </ul>
                </div>
                <div class="col-lg">
                    <strong>Contactos</strong>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page">Active</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">Link</a>
                        </li>
                      </ul>
                </div>
                <div class="col-lg content-section-one-social">
                    <strong>Nuestras redes sociales:</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section-two">
        <div class="container content-section-two">
            <div class="row">
                <strong>Copyright © 2024 Fonesva</strong>
            </div>
        </div>
    </div>
</footer>