<footer class="footer">
    <div class="footer-section-one py-5">
        <div class="container content-section-one">
            <div class="row">
                <div class="col">
                    <strong>Puntos de atención y Correspondencias</strong>
                    <p class="mt-2">Calle 14 No. 13 - 26, Valledupar, Cesar - Colombia</p>
                </div>
                <div class="col-lg">
                    <strong>Sede principal</strong>
                    <ul class="nav flex-column mt-2">
                      <li class="nav-item">
                        <span>Calle 14 No. 13 - 26, Valledupar, Cesar - Colombia</span>
                      </li>
                      <li class="nav-item">
                        <strong>Telefono: </strong>
                        <span>-</span>
                      </li>
                      <li class="nav-item">
                        <strong>Correro electronico: </strong>
                        <span>-</span>
                      </li>
                    </ul>
                </div>
                <div class="col-lg content-section-one-social">
                    <strong>Nuestras redes sociales:</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section-two">
        <div class="container content-section-two">
            <div class="row">
                <strong>Copyright © 2024 Fonesva</strong>
            </div>
        </div>
    </div>
</footer>