<div class="container login-content">
    <div class="card border-0">
        <div class="login-content-header w-100">
            <h3><strong>Fonesva</strong></h3>
        </div>
        <div class="card-body px-md-5">
            <div class="login-content-info">
                <h3>Oficina virtual</h3>
                <p class="mb-5">Bienvenido a la oficiona virtual de fonesva. Aqui podras disfrutar de los servicios online que te podemos brindar.</p>
            </div>
            <div class="login-content-form">
                <form action="">
                    <div class="mb-3">
                        <div class="content-input border">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="content-input border">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <button type="submit" class="btn main-btn-primary content-btn-login">
                        <strong>Ingresar</strong>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row login-footer">
        <div class="col text-center">
            <strong>Copyright © 2024 - Fonesva</strong>
            <p>Todos los derechos reversados.</p>
        </div>
    </div>
</div>
