<div class="content-home">
    <div class="home-section">
        <div class="home-section-one py-5">
            <div class="container section-one-content">
                <div class="row align-items-center content-one-info">
                    <div class="col-lg ">
                        <p class="info-brand-title my-0" >Por algo se empeiza!</p>
                        <h1 class="info-brand">Nuestros servicios ahora se migran a la nube</h1>
                        <p class="info-description">Sí, ahora desde la comodidad de tu casa podrás aprovechar una gran cantidad de servicios que estamos ofreciendo de manera online y sin tanto papeleo.</p>
                        <button class="btn border rounded-pill px-4 info-btn">
                            Ingresa aquí
                        </button>
                    </div>
                    <div class="col-lg-4 offset-lg-2  section-one-carrosel text-center">
                        <img class="content-carrosel-img" src="/assets/img/img-people-search.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-section">
        <div class="home-section-two py-5">
            <div class="container section-one-content">
                <div class="row">
                    <div class="col-lg text-center">
                        <h2>Lo que te brinda nuestro fondo</h2>
                        <p>En nuestro fondo de empleados, tu eres nuestro principal activo, por eso trabajamos para brindarte los mejores beneficios</p>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-lg">
                        <div class="card content-card-one">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card content-card-two">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg py-3">
                        <h3>Información de utilidad</h3>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg">
                        <div class="card content-card-one">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card content-card-two">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card content-card-three">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-section">
        <div class="home-section-three py-5">
            <div class="container section-one-content">
                <div class="row">
                    <div class="col-lg">
                        <img class="content-img-info" src="/assets/img/img-people-question.png" alt="">
                    </div>
                    <div class="col-lg">
                        <h2>¿Como puedo asesorarme?</h2>
                        <p>Revisa este paso a paso que podria ser de mucha ayuda:</p>

                        <div class="div items">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="item-brand">
                                        <span>1</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <p>Revisa cada uno de los requisitos que se requieren para la solicitud de alguno de nuestros servicios.</p>
                                </div>
                            </div>
                        </div>

                        <div class="div items">
                            <div class="row">
                                <div class="col">
                                    <div class="item-brand">
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="div items">
                            <div class="row">
                                <div class="col">
                                    <div class="item-brand">
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
